apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-frontend
  template:
    metadata:
      labels:
        app: inventory-frontend
    spec:
      containers:
        - name: inventory-frontend
          image: ${REGISTRY}/inventory_frontend:${IMAGE_TAG}
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-frontend
spec:
  selector:
    app: inventory-frontend
  ports:
    - port: 80
      targetPort: 3000
  type: LoadBalancer