apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
        - name: payment
          image: ${REGISTRY}/payment:${IMAGE_TAG}
          ports:
            - containerPort: 81
          env:
            - name: INVENTORY_SERVICE_URL
              value: "http://inventory:80"
            - name: REDIS_HOST
              value: redis
            - name: REDIS_PORT
              value: "6379"
 
---
apiVersion: v1
kind: Service
metadata:
  name: payment
spec:
  selector:
    app: payment
  ports:
    - port: 81
      targetPort: 81
  type: ClusterIP